.App {
  text-align: center;
}

.bg_video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  filter: brightness(40%)
}

.video_wrap {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  background: rgba(0, 0, 0, 0.5);
}
